<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="7.2.1" targetFramework="net48" />
  <package id="ReactiveUI" version="14.1.1" targetFramework="net48" />
  <package id="ReactiveUI.WinForms" version="14.1.1" targetFramework="net48" />
  <package id="Splat" version="11.1.1" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Core" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Interfaces" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Linq" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.PlatformServices" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Windows.Threading" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>